* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59, 59, 59);
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr;
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: aqua;
}
.screen > p {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(233, 241, 236);
  padding: 20px 0;
  border: 1px solid rgb(162, 162, 163);
  border-radius: 6px;
}

.allBtns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: tomato;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
